.navbar ul {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}
.navbar li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.navbar {
  display: flex;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  color: black;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

li:hover {
  background-color: darkblue;
}

@media screen and (max-width: 767px) {
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    max-width: 150px;
    text-align: justify;
    white-space: normal;
  }
  .tabela {
    margin: 0;
    overflow-y: scroll;
    width: 400px;
  }
}
