.loginForm h2 {
  color: white;
  font-size: 33px;
}

.loginForm {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.formLogin input {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.formLogin button {
  max-width: 40%;
}
.tituloLogin {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .loginForm {
    max-width: 250px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
